* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: rgb(222, 243, 236);
    color: rgb(8, 8, 8);
}

header {
    padding: 30px;
    background-color: mediumaquamarine;
    color: black;
    display: flex;
    justify-content: space-between;
}

nav {
    ul {
        list-style: none;

        gap: 20px;
        display: inline;
        display: flex;


        a {
            color: black;
            text-decoration: none;

        }



    }
}

#hero {
    text-align: center;
    padding: 40px;


    h1 {
        margin: 20px 0px;
        font-size: 50px;
    }

    p {
        margin: 20px 0px;
        font-size: 20px;
    }


    button {
        padding: 10px;
        border-radius: 5px;
    }

    button:hover {
        background-color: aqua;


    }


}

.course-card {
    padding: 50px;
    border: 5px;
    border-radius: 10px;
    border-color: white;
    box-shadow: 10px 15px 50px rgba(5, 5, 5, 0.5);
    margin: 40px 400px;

}


#courses h2 {

    padding-left: 100px;
}